<div #modal
    class="fixed w-full inset-0 z-50 hidden opacity-0 justify-center items-center transition duration-200 ease-in-out"
    style="background: rgba(0,0,0,.3);">
    <div
        class="border border-gray-800 bg-gray-900 shadow-lg modal-container w-12/13 max-w-lg mx-auto rounded z-50 overflow-y-auto">
        <div class="relative py-8 px-5 md:px-10  shadow-md rounded border border-gray-800">
            <div class="w-full flex justify-center mb-3">
                @if(user.avatar){
                <img src="{{user.avatar}}" alt="user-avatar" class="w-32 h-32 object-cover object-center rounded-full">
                }@else {
                <svg aria-hidden="true" role="img" class="h-32 w-32 text-white/50 hover:text-white rounded-full mx-auto"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
                    <path fill="currentColor"
                        d="M172 120a44 44 0 1 1-44-44a44 44 0 0 1 44 44Zm60 8A104 104 0 1 1 128 24a104.2 104.2 0 0 1 104 104Zm-16 0a88 88 0 1 0-153.8 58.4a81.3 81.3 0 0 1 24.5-23a59.7 59.7 0 0 0 82.6 0a81.3 81.3 0 0 1 24.5 23A87.6 87.6 0 0 0 216 128Z">
                    </path>
                </svg>
                }
            </div>
            <div class="flex justify-between">
                <div class="mr-2 ">
                    <label for=" first_name" class="text-white font-bold leading-tight tracking-normal">
                        Nombre</label>
                    <input id="first_name" [(ngModel)]="user.first_name"
                        class="bg-transparent text-white/50 hover:text-white focus:text-white smooth-hover border rounded mb-5 mt-2 capitalize focus:outline-none focus:border-white font-normal w-full h-10 flex items-center pl-3" />
                </div>
                <div class="">
                    <label for="last_name" class="text-white font-bold leading-tight tracking-normal">Apellido</label>
                    <input id="last_name" [(ngModel)]="user.last_name"
                        class="bg-transparent text-white/50 hover:text-white focus:text-white smooth-hover border rounded mb-5 mt-2 capitalize focus:outline-none focus:border-white font-normal w-full h-10 flex items-center pl-3" />
                </div>
            </div>
            <div>
                <label for="email" class="text-white font-bold leading-tight tracking-normal">Email</label>
                <input id="email" [(ngModel)]="user.email"
                    class="bg-transparent text-white/50 hover:text-white focus:text-white smooth-hover border rounded mb-5 mt-2 capitalize focus:outline-none focus:border-white font-normal w-full h-10 flex items-center pl-3" />
            </div>
            <div class="flex items-center justify-end">
                @if (!editMode){
                <button [disabled]="this.saving"
                    class="bg-transparent text-green-400/50 rounded hover:text-green-400 smooth-hover border w-31 px-8 py-1.5"
                    (click)="createEditUser()">
                    @if (saving) {
                    <div class="animate-spin inline-block pt-0.5 w-4 h-4 border-[2px] border-current border-t-transparent text-green-400 rounded-full"
                        role="status" aria-label="loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                    } @else { Guardar }
                </button>
                }
                <button class="bg-transparent text-white/50 hover:text-white smooth-hover border rounded w-31 p-2 ml-3 px-8 py-1.5"
                    (click)="hideAnimation()"> Salir
                </button>
                <button
                    class=" text-white/50 hover:text-white cursor-pointer absolute top-0 right-0 mt-4 mr-5 transition duration-150 ease-in-out rounded focus:ring-2 focus:outline-none focus:ring-gray-600"
                    (click)="hideAnimation()" aria-label="close modal" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20"
                        viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <line x1="18" y1="6" x2="6" y2="18" />
                        <line x1="6" y1="6" x2="18" y2="18" />
                    </svg>
                    </button>
            </div>
        </div>
        </div>